<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename ='style.css')}}">
    <title>Tela de Login</title>
</head>
<body> 
    <div class="login_container">
        <h1>Login</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="error">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
       
        <form action="{{url_for('login')}}" method="POST">
            <input type="text" id="username" name="username" placeholder= "Nome" required>
            <br><br>
            <input type="password"  id="password" name="password" placeholder="Senha" required>
            <br><br>
            <button id="primeiro" >Enviar</button>
            <button>Cadastrar</button>
            <button>Já logado</button> 
    
        </form>
    </div> 
</body>
</html>